<!DOCTYPE html>
<html>
<head>
  <title>RubyVideoConvertor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/navigation"%>  
<div class="container mtop" >
  <div id="main_content">
      <%= yield %>
    
  </div>


</div>

  <footer class="container mtop text-center">
    <p class="text-muted">This is a beta project using Ruby on Rails 3 and ffmpeg for video conversion</p>
  </footer>




</body>
</html>
